@import url('https://fonts.googleapis.com/css?family=Lobster|Niramit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');


/*----------------------main page----------------------*/

html,body {
    background-color: #343A40;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    
    font-family: "Niramit", sans-serif;
    color: #EDEDED;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    margin: 0 0 0 0;
}

/*----------------------Navigation----------------------*/

.navbar-bg {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: #000000 3px 3px 5px;
}

.nav-item {
    padding-left: 10px;
    transition: all .25s ease-in-out;
}

.nav-item:hover {
    background-color: #2A3036;
}

/*----------------------Banner----------------------*/

.banner-image {
    text-align: center;
    width: 100%;
    min-height: 200px;
    background-image: url(/assets/images/retro-wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px 0 0 0;
    border-bottom: #343A40 1px solid;
}

.monkees-banner-logo {
    background-image: url(/assets/images/monkeeslogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    height: 200px;
    width: 100%;
    margin: 0 0 0 0;
}

/*----------------------Home-Page----------------------*/

.naur-heading-box {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 5px;
    background-color: #252B31;
}

.naur {
    text-align: center;
    color: #EDEDED;
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    margin: 0 auto 0 auto;
    padding: 0;
}

.xmas-album-box {
    background-color: #EDEDED;
    width: 100%;
    height: auto;
    padding: 0;
    margin:0;
}

.xmas-album {
    background-image: url(/assets/images/monkeesxmas.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-left: #343A40 10px solid;
    border-right: #343A40 10px solid;
    display: block;
    min-height: 300px;
    width: 100%;
}

.xmas-album-text {
    text-align: justify;
    font-family: "Niramit", sans-serif;
    font-weight: bold;
    color: #444341;
    padding: 10px 30px 10px 30px;
    border-right: #343A40 10px solid;
    border-left: #343A40 10px solid;
}

.album-list {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.xmas-album-text ol {
    padding: 0;
    margin: 0;
}
.xmas-album-text ol li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}

/*----------------------The Band Page----------------------*/

.band-heading-box {
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #252B31;
}

.band-heading {
    text-align: center;
    color: #EDEDED;
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    margin: 0 auto 0 auto;
    padding: 0;
}

.band-box {
    background-color: #EDEDED;
    width: 100%;

    border: #343A40 10px solid;

}

.dj-picture {
    background-image: url(/assets/images/dj.jpg);
    background-repeat: no-repeat;
    background-position: right;
    border: #CE981F 5px solid;
    border-radius: 95px;
    height: 190px;
    width: 190px;

    margin: 15px auto 10px auto;
}

.md-picture {
    background-image: url(/assets/images/md.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border: #CE981F 5px solid;
    border-radius: 95px;
    height: 190px;
    width: 190px;

    margin: 10px auto 10px auto;
}

.mn-picture {
    background-image: url(/assets/images/mn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border: #CE981F 5px solid;
    border-radius: 95px;
    height: 190px;
    width: 190px;

    margin: 15px auto 10px auto;
}

.pt-picture {
    background-image: url(/assets/images/pt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border: #CE981F 5px solid;
    border-radius: 95px;
    height: 190px;
    width: 190px;

    margin: 5px auto 10px auto;
}

.band-member-names {
    color: #EDEDED;
    font-family: "Niramit", sans-serif;
    font-weight: bolder;
    text-decoration: underline;


    margin: 0 auto 5px auto;
}

.band-member-names-2 {
    color: #252B31;
    font-family: "Niramit", sans-serif;
    font-weight: bolder;
    text-decoration: underline;


    margin: 0 auto 5px auto;
}

.band-member-bio {
    color: #EDEDED;
    font-family: "Niramit", sans-serif;
    text-align: center;
    width: 75%;

    border-bottom: #CE981F 10px solid;

    margin: 5px auto 50px auto;

}

.band-member-bio-2 {
    color: #343A40;
    font-family: "Niramit", sans-serif;
    text-align: center;
    width: 75%;

    border-bottom: #CE981F 10px solid;

    margin: 5px auto 50px auto;

}

/*----------------------Media----------------------*/

.media-heading-box {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 5px;
    background-color: #252B31;
    
}

.media-heading {
    text-align: center;
    color: #EDEDED;
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    
    margin: 0 auto 0 auto;
    padding: 0;
}

.media-sub-heading {
    text-align: center;
    color: #343A40;
    font-family: "Niramit", sans-serif;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 5px auto 10px auto;
    padding-top: 12px;


    width: 100%;
    height: 50px;
    background-color: #CE981F;
    box-shadow: #000000 3px 3px 5px;
}

.video-box {
    background-color: #343A40;
    display: inline-block;
    height: 300px;
    
    margin: 0;
    padding: 0;
}

.video-box video {
    margin: 0 auto 20px auto;
    border: #EDEDED 5px solid;
    box-shadow: #000000 3px 3px 5px;
}
.song-box {
    background-color: #343A40;
    display: inline-block;
    height: auto;
    
    margin: 0 0 20px 0;
    padding: 0;
}

.song-clip-box {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #282B30;
    box-shadow: #000000 3px 3px 5px;
}

.song-clip-box-2 {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #22262B;
    box-shadow: #000000 3px 3px 5px;

}


.song-clip {
    width: 90%;
    padding: 2px;
}

.track-name {
    color: #CE981F;
    font-family: "Niramit", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 7px;
}

.picture-box {
    display: inline-block;
    background-color: #343A40;
    height: auto;
    margin: 0;
    padding: 0;
}

.monkees-image-1 {
    background-image: url("/assets/images/The-Monkees-courtesy-Rhino-Entertainment.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-shadow: #000000 3px 3px 5px;
}

.monkees-image-2 {
    background-image: url("/assets/images/monkees.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-shadow: #000000 3px 3px 5px;
}

.monkees-image-3 {
    background-image: url("/assets/images/156017725.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-shadow: #000000 3px 3px 5px;
}

.monkees-image-4 {
    background-image: url("/assets/images/oldmonkees.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    box-shadow: #000000 3px 3px 5px;
}

/*----------------------Contact Us----------------------*/
.page {
    margin: 0;
    padding: 0;
}
.contact-heading-box {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 5px;
    
    background-color: #252B31;
}

.contact-heading {
    text-align: center;
    color: #EDEDED;
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    margin: 0 auto 0px auto;
    padding: 0;
}

.entire-contact-box {
    margin: 0;
    padding: 0;
}

.contact-box {
    background-color: #252B31;
    height: 750px;
    font-size: 18px;
    text-align: center;
    box-shadow: #000000 3px 3px 5px;
    
    margin: 0 auto 20px auto;
    padding: 0 0 0 0;
}

.business-contact-box {
    background-color: #CE981F;
    width: 100%;
    min-height: 100px;
    text-align: center;
    
    
    margin: 0 0 20px 0;
    padding: 10px 0 0 0;
}

.business-contact-box h3 {
    color: #252B31;
    font-family: "Niramit";
    font-size: 36px;
    font-weight: 500;
}

.business-contact-box p {
    color: #252B31;
    margin: 0;
}

.fan-contact-box {
    background-color: #CE981F;
    width: 100%;
    min-height: 100px;
    text-align: center;
    
    
    margin: 0 0 20px 0;
    padding: 10px 0 0 0;
}

.fan-contact-box h3 {
    color: #252B31;
    font-family: "Niramit";
    font-size: 36px;
    font-weight: 500;
}

.fan-contact-box p {
    color: #252B31;
}

.form-section-header {
    text-align: center;
    margin: 0 auto 0 auto;
}

.form-section-header i {
    font-size: 10px;
}

#fnameb {
    width: 70%;
    height: 50px;
    font-family: "Niramit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
    margin: 10px auto 5px auto;
}

#snameb{
    width: 70%;
    height: 50px;
    font-family: "Niramit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
    margin: 2px auto 20px auto;
}

#emailb {
    width: 70%;
    height: 50px;
    font-family: "Niramit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
    margin: 0 auto 20px auto;
}

.event {
    margin: 5px 20px 10px 0;
    font-size: 18px;
}

#business-textarea {
    width: 70%;
    height: 200px;
    
    margin: 25px auto 10px auto;
}

#file {
    text-align: center;
    width: 80%;
    font-size: 14px;
    background-color: #1A1E26;
}

#fnamef {
    width: 70%;
    height: 50px;
    font-family: "Niramit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
    margin: 10px auto 5px auto;
}

#snamef {
    width: 70%;
    height: 50px;
    font-family: "Niramit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
    margin: 2px auto 20px auto;
}

#emailf {
    width: 70%;
    height: 50px;
    font-family: "Niramit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
    margin: 0 auto 20px auto;
}

#fan-textarea {
    width: 70%;
    height: 200px;
    
    margin: 25px auto 10px auto;
}

/*----------------------Footer----------------------*/

.footer {
    width: 100%;
    height: 100px;
    background-color: #24292E;
    text-align: center;
    padding: 20px 0 0 0;
    margin: 10px 0 0 0;
}


.social-links {
    word-spacing: 10px;
}

.social-links li {
    display: inline-block;
}

.social-links a {
    text-decoration: none;
    color: #878787;
    font-size: 22px;

    transition: color .2s ease-in-out;
}


.footer-writing {
    display: inline-block;
    color: #878787;
    font-size: 18px;
    margin-bottom: 1px;
}


.social-links a:hover {
    color: #CE981F;
}


/*----------------------Media Queries----------------------*/

@media (min-width: 576px) {
    .monkees-banner-logo {
        background-image: url(/assets/images/the-monkees-logo.png);
    }


    .video-box {
        background-color: #343A40;
        height: auto;
        width: 100%;
    }

    .song-box {
        background-color: #343A40;
        height: auto;
        width: 100%;
    }
}

@media (min-width: 990px) {
    .xmas-album-text {
        border-left: none;
    }
    
    .vertical {
    border-left: #252B31 2px solid;
    height: 900px;
    margin-top: 50px;
}
}